.countrySelectorContainer {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.countrySelectorBtn {
    background: transparent;
    border: none;
    margin: 0 8px;
    font-size: 16px;
    color: #5C5E62;
    font-weight: bolder;
}

.btnActive {
    color: #62B1E8;
}

.countrySelectorBtn:hover {
    cursor: pointer;
    color: #62B1E8;
}

.countrySelectorBtn.btnActive:hover {
    cursor: default;
    text-decoration: none;
}

@media(min-width: 768px) {
    .countrySelectorContainer {
        margin-bottom: 60px;
    }

    .countrySelectorBtn {
        font-size: 32px;
    }
}