.App {
    background-color: #c6e1f1;
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

.errorMessage {
    text-align: center;
}

@media(min-width: 768px) {
    .App {
        padding-top: 60px;
    }
}